body {
    display: flex;
    align-items: center;
    justify-content: center;
  }

.GameContainer{
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
    padding:10px;
    border: solid 2px;
    border-radius: 10px;
    background-color: #FFC145;
}

.MovesSection{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 10px;
}

.GameBodyOptions{
    display: flex;
    justify-content: center;
    align-items: center;
}

.ButtonStyle{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.ButtonStyle img{
    width: 100px;
    height: 100px;
}

.ButtonStyle button{
    border: solid 1px ;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    padding: 6px 8px;
    border-radius: 7px;
}

.ButtonStyle button:hover{
    background-color: #ECE852;
}

#computerMove{
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 100px;
    height: 100px;
}

#userMove{
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 100px;
    height: 100px;
}

.ResultDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
    background-color: skyblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

.GameBodyButton{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
}

.GameBodyButton button{
    border: solid 1px ;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    padding: 6px 8px;
    border-radius: 7px;
}   